<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
</body>
</html>
<body>
  
    <header>
        <div>
            <p class="Descuentos">Descuentos 20%</p>
        </div>
        <div>
            <h1 class="principal">Card Super Heroes</h1>
        </div>

    </header>
    <main>
        <section class="formularios">
        <div>
        <h2>Login</h2>
        <form action="../index.html" method="GET">
            <input type="text" name="nombre" placeholder="Usuario">
            <input type="password" name="password" placeholder="Contraseña">
           
         <div>
            <button type="submit">Entrar</button>
            </div> 
            <a href="../views/Registros.html">¿No tienes una cuenta? <span>Registrate</span></a>
        </form>
        </div>
        </section> 
    
    </main>
    <footer>
        <div>
            <p class="derechos">Todos los derechos reservados a FRONT END 1</p>
    </div>
    </footer>
</body>
</html>